<%- return '' unless defined?(db) && defined?(item_values) -%>
<table class="show">
<%- db.items.public_state.each do |item| -%>
  <%- if item.item_type == 'rich_text' -%>
    <tr>
      <th colspan="2"><%= item.title %></th>
    </tr>
    <tr>
      <td colspan="2" class="cke_editor_wrapper">
        <%= text_area_tag "item[item_values][#{item.name}]", item_values[item.name], style: item.style_attribute, class: 'body' %>
        <%= javascript_tag do %>
          CKEDITOR.replace('item_item_values_<%= item.name %>');
        <%- end -%>
      </td>
    </tr>
  <%- else -%>
    <tr>
      <th><%= item.title %></th>
      <td>
        <%- case item.item_type -%>
        <%- when 'text_field' -%>
          <%= text_field_tag "item[item_values][#{item.name}]", item_values[item.name], style: item.style_attribute %>
        <%- when 'text_area' -%>
          <%= text_area_tag "item[item_values][#{item.name}]", item_values[item.name], style: item.style_attribute, class: 'body' %>
        <%- when 'select' -%>
          <%= select_tag "item[item_values][#{item.name}]",
                         options_for_select(item.item_options_for_select, item_values[item.name]), style: item.style_attribute,
                         include_blank: true %>
         <%- when 'select_data' -%>
          <%= select_tag "item[item_values][#{item.name}]",
                         options_for_select(item.item_options_for_select_data, item_values[item.name]), style: item.style_attribute,
                         include_blank: true %>
        <%- when 'check_box' -%>
          <%- item.item_options_for_select.each_with_index{|w, i| -%>
            <%= check_box_tag "item[item_values][#{item.name}][check][]", w,
              item_values.dig(item.name, 'check') ? item_values[item.name]['check'].index(w).present? : false,
              id: "item_item_values_#{item.name}_check_#{i}" %>
              <label for="item_item_values_<%=item.name%>_check_<%=i%>"><%= w %></label>
          <%- } -%>
         <%- when 'check_data' -%>
          <%- item.item_options_for_select_data.each_with_index{|w, i| -%>
            <%= check_box_tag "item[item_values][#{item.name}][check][]", w[1],
              item_values.dig(item.name, 'check') ? item_values[item.name]['check'].index(w[1].to_s).present? : false,
              id: "item_item_values_#{item.name}_check_#{i}"  %>
              <label for="item_item_values_<%=item.name%>_check_<%=i%>"><%= w[0] %></label>
          <%- } -%>
         <%- when 'radio_button' -%>
          <%- item.item_options_for_select.each_with_index{|option, i| -%>
            <%= radio_button_tag "item[item_values][#{item.name}]", option,
                option == item_values[item.name], style: item.style_attribute,
                id: "item_item_values_#{item.name}_#{i}" %>
            <label for="item_item_values_<%=item.name%>_<%=i%>"><%= option %></label>
          <%- } -%>
        <%- when 'radio_data' -%>
          <%- item.item_options_for_select_data.each_with_index{|w, i| -%>
            <%= radio_button_tag "item[item_values][#{item.name}]", w[1],
                                        w[1] == item_values[item.name].to_i, style: item.style_attribute %>
            <label for="item_item_values_<%=item.name%>_<%=w[1]%>"><%= w[0] %></label>
          <%- } -%>
        <%- when 'attachment_file' -%>
          <%= text_field_tag "item[item_values][#{item.name}]", item_values[item.name], style: item.style_attribute %>
        <%- when 'postal_code' -%>
          <%= text_field_tag "item[item_values][#{item.name}]", item_values[item.name], style: item.style_attribute %>
        <%- when 'ampm' -%>
        <div><span>午前</span>
          <%- @item.class::WEEKDAY_OPTIONS.each_with_index{|w, i| -%>
            <%= check_box_tag "item[item_values][#{item.name}][am][#{i}]", true,
              item_values.dig(item.name, 'am') ? item_values[item.name]['am'][i.to_s] : false %>
            <label for="item_item_values_<%=item.name%>_am_<%=i%>"><%= w %></label>
          <%- } -%>
        </div>
        <div><span>午後</span>
          <%- @item.class::WEEKDAY_OPTIONS.each_with_index{|w, i| -%>
            <%= check_box_tag "item[item_values][#{item.name}][pm][#{i}]", '○',
              item_values.dig(item.name, 'pm') ? item_values[item.name]['pm'][i.to_s] : false %>
            <label for="item_item_values_<%=item.name%>_pm_<%=i%>"><%= w %></label>
          <%- } -%>
        </div>
        <%- when 'office_hours' -%>
          <div id="office_hours_<%=item.id%>">
          <%-
              @item.class::WEEKDAY_OPTIONS.each_with_index{|w, i|
              open_am = item_values.dig(item.name, 'open').present? ? item_values[item.name]['open'][i.to_s] : ""
              close_am = item_values.dig(item.name, 'close').present? ? item_values[item.name]['close'][i.to_s] : ""
              open_pm = item_values.dig(item.name, 'open2').present? ? item_values[item.name]['open2'][i.to_s] : ""
              close_pm = item_values.dig(item.name, 'close2').present? ? item_values[item.name]['close2'][i.to_s] : ""
              next if open_am.blank? && close_am.blank? && open_pm.blank? && close_pm.blank?
           -%>
            <div class="officeForm">
            <%= select_tag "item[item_values][#{item.name}][week][]",
               options_for_select(Webdb::Entry::WEEKDAY_OPTIONS, Webdb::Entry::WEEKDAY_OPTIONS[i]),
               style: item.style_attribute,
               include_blank: true %>
            <label>午前</label>
            <%= select_tag "item[item_values][#{item.name}][am_open_hour][]",
              options_for_select(@item.class::TIME_OPTIONS, open_am.present? ? open_am.split(/:/)[0] : nil),
              include_blank: true %>時
               <%= select_tag "item[item_values][#{item.name}][am_open_min][]",
              options_for_select(@item.class::MINUTE_OPTIONS, open_am.present? ? open_am.split(/:/)[1] : nil),
              include_blank: true %>分～
            <%= select_tag "item[item_values][#{item.name}][am_close_hour][]",
              options_for_select(@item.class::TIME_OPTIONS, close_am.present? ? close_am.split(/:/)[0] : nil),
              include_blank: true %>時
               <%= select_tag "item[item_values][#{item.name}][am_close_min][]",
              options_for_select(@item.class::MINUTE_OPTIONS, close_am.present? ? close_am.split(/:/)[1] : nil),
              include_blank: true %>分
            <span>　/　</span>
            <label>午後</label>
            <%= select_tag "item[item_values][#{item.name}][pm_open_hour][]",
              options_for_select(@item.class::TIME_OPTIONS, open_pm.present? ? open_pm.split(/:/)[0] : nil),
              include_blank: true %>時
               <%= select_tag "item[item_values][#{item.name}][pm_open_min][]",
              options_for_select(@item.class::MINUTE_OPTIONS, open_pm.present? ? open_pm.split(/:/)[1] : nil),
              include_blank: true %>分～
            <%= select_tag "item[item_values][#{item.name}][pm_close_hour][]",
              options_for_select(@item.class::TIME_OPTIONS, close_pm.present? ? close_pm.split(/:/)[0] : nil),
              include_blank: true %>時
               <%= select_tag "item[item_values][#{item.name}][pm_close_min][]",
              options_for_select(@item.class::MINUTE_OPTIONS, close_pm.present? ? close_pm.split(/:/)[1] : nil),
              include_blank: true %>分
            </div>
          <%- } -%>
            <div class="officeForm">
            <%= select_tag "item[item_values][#{item.name}][week][]",
               options_for_select(Webdb::Entry::WEEKDAY_OPTIONS, nil),
               style: item.style_attribute,
               include_blank: true %>
            <label>午前</label>
            <%= select_tag "item[item_values][#{item.name}][am_open_hour][]",
              options_for_select(@item.class::TIME_OPTIONS, nil),
              include_blank: true %>時
               <%= select_tag "item[item_values][#{item.name}][am_open_min][]",
              options_for_select(@item.class::MINUTE_OPTIONS, nil),
              include_blank: true %>分～
            <%= select_tag "item[item_values][#{item.name}][am_close_hour][]",
              options_for_select(@item.class::TIME_OPTIONS, nil),
              include_blank: true %>時
               <%= select_tag "item[item_values][#{item.name}][am_close_min][]",
              options_for_select(@item.class::MINUTE_OPTIONS, nil),
              include_blank: true %>分
            <span>　/　</span>
            <label>午後</label>
            <%= select_tag "item[item_values][#{item.name}][pm_open_hour][]",
              options_for_select(@item.class::TIME_OPTIONS, nil),
              include_blank: true %>時
               <%= select_tag "item[item_values][#{item.name}][pm_open_min][]",
              options_for_select(@item.class::MINUTE_OPTIONS, nil),
              include_blank: true %>分～
            <%= select_tag "item[item_values][#{item.name}][pm_close_hour][]",
              options_for_select(@item.class::TIME_OPTIONS, nil),
              include_blank: true %>時
               <%= select_tag "item[item_values][#{item.name}][pm_close_min][]",
              options_for_select(@item.class::MINUTE_OPTIONS, nil),
              include_blank: true %>分
            </div>
          </div>
          <div>
            <a href="#" class="addOfficeHour" id="office<%= item.id %>">曜日を追加する</a>
          </div>
          <div>備考</div>
            <%= text_area_tag "item[item_values][#{item.name}][remark]",
                item_values[item.name] ? item_values[item.name]['remark'] : nil  %>
          </div>
        <%- when 'blank_integer' -%>
          <%= text_field_tag "item[item_values][#{item.name}]", item_values[item.name], style: item.style_attribute, class: 'number' %>
        <%- when 'blank_weekday' -%>
          <%- I18n.t('date.abbr_day_names').each_with_index{|w, i| -%>
            <%= w %>
              <%= select_tag "item[item_values][#{item.name}][weekday][#{i}]",
                             options_for_select(item.item_options_for_select,
                             item_values.dig(item.name, 'weekday') ? item_values[item.name]['weekday'][i.to_s] : nil),
                             style: item.style_attribute,
                             include_blank: true %>
          <%- } -%>

        <%- when 'blank_date' -%>
          <div class="fieldDatetime">
            <div id="eventField<%= item.id %>">
            <% if @item.dates.present?
               @item.dates.where(name: item.name).each_with_index do |event, i| %>
               <div class="dateList">
                 <span><%= event.event_date.try(:strftime, '%Y-%m-%d') %></span>
                 <span><%= event.option_value %></span>
                 <%= link_to "×", "#", id: "delete#{event.id}" ,class: "deleteDate"%>
               </div>
               <% end %>
            <% end %>
              <div class="dateForm">
              <%= text_field_tag "item[in_target_dates][#{@date_idx}][event_date]" , nil, class: 'datepicker' -%><!--
              ---><%= select_tag "item[in_target_dates][#{@date_idx}][option_value]",
                             options_for_select(item.item_options_for_select, nil),
                             include_blank: true, class: 'selectMark' -%>
              <%= hidden_field_tag "item[in_target_dates][#{@date_idx}][name]" , item.name, class: 'selectName'-%>
              <% @date_idx += 1 %>
              </div>
            </div>
            <a href="#" class="addEvent" id="event<%= item.id %>">日程を追加する</a>
          </div>
        <%- @date_idx += 1
          end -%>
      </td>
    </tr>
  <%- end -%>
<%- end -%>
</table>
<%= javascript_tag do %>
$(function() {

  $('input.datepicker').datepicker();

  $(document.body).on('click', '.removeDate',  function(e) {
    $(this).parent().remove();
    return false;
  });
  <% if @item.id %>
  $(".deleteDate").click(function (e) {
    e.preventDefault();
    <% if defined?(use_admin) %>
    var deleteURL = '<%= webdb_db_entry_path(content: @content) %>/delete_event';
    <% else %>
    var deleteURL = '<%= @item.delete_event_uri %>';
    <% end %>
    var itemId = $(this).attr('id')
    var dateID = itemId.replace(/delete/, '')
    $.get( deleteURL + '?event_id=' + dateID , function(data) {
        //
      });
    $(this).parent().remove();
  });
  <% end %>

  $('.addOfficeHour').click(function(e) {
    var officeNumber = $(this).attr('id').replace(/office/, '');
    $("#office_hours_" + officeNumber + "> div:last").clone(true).appendTo(
      $("#office_hours_" + officeNumber)
    );
    return false;
  });

  $('.addEvent').click(function(e) {

    var eventNumber = $(this).attr('id').replace(/event/, '');
    var idx = $(".dateForm").length;
    idx++;
    var formDiv = $("<div></div>", {class: "dateForm"});

    $('<input>').attr({
        type: 'text',
        name: 'item[in_target_dates][' + idx + '][event_date]',
        id: 'item_in_target_dates_' + idx + '_event_date',
        class: "datepicker"
    }).appendTo(formDiv);

    $('<select>').attr({
        type: 'text',
        name: 'item[in_target_dates][' + idx + '][option_value]',
        id: 'item_in_target_dates_' + idx + '_option_value',
        class: 'selectMark'
    }).appendTo(formDiv);

    $('<input>').attr({
        type: 'hidden',
        name: 'item[in_target_dates][' + idx + '][name]',
        id: 'item_in_target_dates_' + idx + '_name',
        class: "datepicker"
    }).appendTo(formDiv);

    $('<a>').attr({
        class: "removeDate",
        href: "#"
    }).html("×").appendTo(formDiv);

    $("#eventField" + eventNumber ).append(formDiv);
    var $options = $("#eventField" + eventNumber +" div.dateForm select:first > option").clone();
    $('#item_in_target_dates_' + idx + '_option_value').append($options);

    var name = $("#eventField" + eventNumber +" div.dateForm input.selectName:first").val();
    $('#item_in_target_dates_' + idx + '_name').val(name);

    $('#item_in_target_dates_' + idx + '_event_date').datepicker({ dateFormat: 'yy-mm-dd' });
    return false;
  });
});
<% end %>
