<div class="category_<%=@target_field.name%>">
  <%= form_tag "#{@node.public_uri}#{@db.id}/search", method: :get, class: 'search' do |f| %>
    <%= hidden_field_tag 'sort', @db.items.target_sort_state.first.try(:name) %>
    <%
    i = 0
    @from.each do |from, fields| %>
      <fieldset>
        <legend><%= from %></legend>
        <%- fields.each do|w| -%>
          <li>
            <%= check_box_tag "criteria[#{@target_field.name}][]", w[:value], false,
              id: "criteria_#{@target_field.name}_#{i}" %>
            <label for='<%="criteria_#{@target_field.name}_#{i}"%>'><%=w[:title]%></label>
          </li>
        <%-
        i += 1
        end -%>
      </fieldset>
    <%- end -%>
  <div class="submitters">
    <input type="submit" value="検索" />
  </div>
  <%- end -%>

</div>

