<%= init_ckeditor baseHref: "#{webdb_db_entries_path(content: @content, db_id: @db.id, id: @item.id.to_i)}/" %>
<span class="note">※は必須項目です。</span>

<%= render 'webdb/admin/shared/form', db: @item.db, item_values: @item.item_values if @item.db %>

<% if defined?(Zplugin3::Content::Login::Engine) && @db.editor_content %>
  <table class="show">
    <tr>
      <th><%= f.label :editor_id %></th>
      <td><%= select_tag 'item[editor_id]',
                         options_from_collection_for_select(@db.editor_content.try(:users), :id, :account, @item.editor_id), include_blank: true %></td>
     </tr>
   </table>
<% end %>

<%= render 'sys/admin/_partial/files/form', f: f, item: @item, content: @content %>
<%- if @content.map_enabled? -%>
<p class="form">位置情報</p>
<%= google_map_form f %>
<%- end -%>
