<form id="custom_search" method="get">
  <%- @db.items.each do |item|
    param = params.dig(:criteria, item.name)
    next if param.blank?%>
    <%- case item.item_type
      when 'check_box', 'check_data'
        param.each do |p|-%>
          <%= hidden_field_tag "criteria[#{item.name}][]", p%>
        <%- end
      when 'ampm'
        param.each do |key, p|
          p.each do |c_key, c|-%>
          <%= hidden_field_tag "criteria[#{item.name}][#{key}][#{c_key}]", params.dig(:criteria, key, c_key)%>
          <%- end -%>
        <%- end
      else -%>
      <%= hidden_field_tag "criteria[#{item.name}]", params.dig(:criteria, item.name)%>
    <%- end -%>
  <%- end -%>
  <%= hidden_field_tag "keyword", params[:keyword]%>
  <%= select_tag 'sort',
      options_from_collection_for_select(@db.items.target_sort_state, :id, :title, params[:sort]),
      onchange: "submit(this.form)" %>
</form>
<% @items.each_with_index do |item, i| %>
  <%= raw entry_body(@list_style, @db, item) %>
<% end %>

<%= paginate @items -%>
