
<% items.each do |item| %>
  <div class="criteria_<%=item.name%>">
      <legend><%=item.title%></legend>
      <ul>
      <%- case item.item_type -%>
      <%- when 'select' -%>
        <li>
        <%= select_tag "criteria[#{item.name}]",
                       options_for_select(item.item_options_for_select, nil),
                       style: item.style_attribute,
                       include_blank: true %>
        </li>
      <%- when 'radio_button' -%>
        <%- item.item_options_for_select.each_with_index do |option, i| -%>
          <li>
            <%= radio_button_tag "criteria[#{item.name}]", option, nil,
               style: item.style_attribute, id: "criteria_#{item.name}_#{i}" %>
               <label for='<%="criteria_#{item.name}_#{i}"%>' ><%= option %></label>
          </li>
        <%- end -%>
      <%- when 'select_data' -%>
        <li>
        <%= select_tag "criteria[#{item.name}]",
                       options_for_select(item.item_options_for_select_data, nil),
                       style: item.style_attribute,
                       include_blank: true %>
      <%- when 'check_box' -%>
        <%- item.item_options_for_select.each_with_index{|w, i| -%>
          <li>
            <%= check_box_tag "criteria[#{item.name}][]", w, false, id: "criteria_#{item.name}_#{i}" %>
            <label for='<%="criteria_#{item.name}_#{i}"%>'><%=w%></label>
          </li>
        <%- } -%>
      <%- when 'check_data' -%>
        <%- item.item_options_for_select_data.each_with_index{|w, i| -%>
          <li>
            <%= check_box_tag "criteria[#{item.name}][]", w[1], false, id: "criteria_#{item.name}_#{i}" %>
            <label for='<%="criteria_#{item.name}_#{i}"%>'><%=w[0]%></label>
          </li>
        <%- } -%>
      <%- when 'radio_data' -%>
        <%- item.item_options_for_select_data.each_with_index do |option, i| -%>

          <%= radio_button_tag "criteria[#{item.name}]", option[1], nil,
            style: item.style_attribute, id: "criteria_#{item.name}_#{i}" %>
          <label for='<%="criteria_#{item.name}_#{i}"%>'><%= option[0] %></label>
        <%- end -%>
      <%- when 'office_hours' -%>
        <li>
          <%= text_field_tag "criteria[#{item.name}][date]", nil, class: 'datepicker' %>
        <%= select_tag "criteria[#{item.name}][hour]",
                       options_for_select(Webdb::Entry::TIME_OPTIONS, nil),
                       style: item.style_attribute,
                       include_blank: true %>：
        <%= select_tag "criteria[#{item.name}][min]",
                       options_for_select(Webdb::Entry::MINUTE_OPTIONS, nil),
                       style: item.style_attribute,
                       include_blank: true %>

        </li>
      <%- when 'ampm' -%>
        <%- Webdb::Entry::WEEKDAY_OPTIONS.each_with_index{|w, i| -%>
          <li>
          <%= w %>
          <%= check_box_tag "criteria[#{item.name}][am][#{i}]", true, false,
            id: "criteria_#{item.name}_am_#{i}" %>
            <label for='<%="criteria_#{item.name}_am_#{i}"%>'>午前</label>
          <%= check_box_tag "criteria[#{item.name}][pm][#{i}]", true, false,
            id: "criteria_#{item.name}_pm_#{i}" %>
            <label for='<%="criteria_#{item.name}_pm_#{i}"%>'>午後</label>
          </li>
        <%- } -%>
      <%- when 'blank_integer' -%>
        <li><%= number_field_tag "criteria[#{item.name}]", '', style: 'ime-mode: disabled;' %></li>
      <%- when 'blank_date' -%>
        <li>
          <%= text_field_tag "criteria[#{item.name}][date]", '', class: 'datepicker' %>
          <%= select_tag "criteria[#{item.name}][option]",
                         options_for_select(item.item_options_for_select, nil),
                         style: item.style_attribute,
                         include_blank: true %>
        </li>
      <%- when 'blank_weekday' -%>
          <%- I18n.t('date.abbr_day_names').each_with_index{|w, i| -%>
            <li>
              <label for='<%="criteria_#{item.name}_weekday_#{i}"%>'><%= w %></label>
              <%= select_tag "criteria[#{item.name}][#{i}]",
                             options_for_select(item.item_options_for_select,nil),
                             style: item.style_attribute,
                             include_blank: true %>
            </li>
          <%- } -%>
      <%- else -%>
        <li><%= text_field_tag "criteria[#{item.name}]", '' %></li>
      <%end%>
      </ul>
  </div>
<% end %>