<link rel="stylesheet" media="screen" href="/_common/css/jquery-ui-themes/smoothness/jquery-ui.min.css" />
<script src="/_common/js/jquery-ui.min.js"></script>
<link rel="stylesheet" media="screen" href="/_common/css/jquery-ui-timepicker-addon.css" />
<script src="/_common/js/jquery-ui-timepicker-addon.js"></script>
<%= javascript_include_tag '/_common/js/jquery-ui-datepicker-ja.js' %>
<%= javascript_include_tag '/_common/js/jquery-ui-timepicker-addon-ja.js' %>
<%= form_tag url, method: :get, class: 'search' do |f| %>
  <%= hidden_field_tag 'sort', db.items.target_sort_state.first.try(:name) %>
  <%- if defined?(use_keyword) -%>
  <div class="search_keyword">
      <legend>キーワード</legend>
      <ul>
        <li><%= text_field_tag "keyword", '' %></li>
      </ul>
  </div>
  <%- end -%>
  <% items.each do |item| %>
    <div class="criteria_<%=item.name%>">
        <legend><%=item.title%></legend>
        <ul>
        <%- case item.item_type -%>
        <%- when 'select' -%>
          <li>
          <%= select_tag "criteria[#{item.name}]",
                         options_for_select(item.item_options_for_select, nil),
                         style: item.style_attribute,
                         include_blank: true %>
          </li>
        <%- when 'radio_button' -%>
          <%- item.item_options_for_select.each_with_index do |option, i| -%>
            <li>
              <%= radio_button_tag "criteria[#{item.name}]", option, nil,
                 style: item.style_attribute, id: "criteria_#{item.name}_#{i}" %>
                 <label for='<%="criteria_#{item.name}_#{i}"%>' ><%= option %></label>
            </li>
          <%- end -%>
        <%- when 'select_data' -%>
          <li>
          <%= select_tag "criteria[#{item.name}]",
                         options_for_select(item.item_options_for_select_data, nil),
                         style: item.style_attribute,
                         include_blank: true %>
        <%- when 'check_box' -%>
          <%- item.item_options_for_select.each_with_index{|w, i| -%>
            <li>
              <%= check_box_tag "criteria[#{item.name}][]", w, false, id: "criteria_#{item.name}_#{i}" %>
              <label for='<%="criteria_#{item.name}_#{i}"%>'><%=w%></label>
            </li>
          <%- } -%>
        <%- when 'check_data' -%>
          <%- item.item_options_for_select_data.each_with_index{|w, i| -%>
            <li>
              <%= check_box_tag "criteria[#{item.name}][]", w[1], false, id: "criteria_#{item.name}_#{i}" %>
              <label for='<%="criteria_#{item.name}_#{i}"%>'><%=w[0]%></label>
            </li>
          <%- } -%>
        <%- when 'radio_data' -%>
          <%- item.item_options_for_select_data.each_with_index do |option, i| -%>

            <%= radio_button_tag "criteria[#{item.name}]", option[1], nil,
              style: item.style_attribute, id: "criteria_#{item.name}_#{i}" %>
            <label for='<%="criteria_#{item.name}_#{i}"%>'><%= option[0] %></label>
          <%- end -%>
        <%- when 'ampm' -%>
          <%- Webdb::Entry::WEEKDAY_OPTIONS.each_with_index{|w, i| -%>
            <li>
            <%= w %>
            <%= check_box_tag "criteria[#{item.name}][am][#{i}]", true, false,
              id: "criteria_#{item.name}_am_#{i}" %>
              <label for='<%="criteria_#{item.name}_am_#{i}"%>'>午前</label>
            <%= check_box_tag "criteria[#{item.name}][pm][#{i}]", true, false,
              id: "criteria_#{item.name}_pm_#{i}" %>
              <label for='<%="criteria_#{item.name}_pm_#{i}"%>'>午後</label>
            </li>
          <%- } -%>
        <%- when 'blank_integer' -%>
          <li><%= number_field_tag "criteria[#{item.name}]", '', style: 'ime-mode: disabled;' %></li>
        <%- when 'blank_date' -%>
          <li>
            <%= text_field_tag "criteria[#{item.name}][date]", '', class: 'datepicker' %>
            <%= select_tag "criteria[#{item.name}][option]",
                           options_for_select(item.item_options_for_select, nil),
                           style: item.style_attribute,
                           include_blank: true %>
          </li>
        <%- when 'blank_weekday' -%>
          <%- I18n.t('date.abbr_day_names').each_with_index{|w, i| -%>
            <li><%= w %>
              <%= select_tag "criteria[#{item.name}][weekday][#{i}]",
                             options_for_select(item.item_options_for_select,nil),
                             style: item.style_attribute,
                             include_blank: true %></li>
          <%- } -%>
        <%- else -%>
          <li><%= text_field_tag "criteria[#{item.name}]", '' %></li>
        <%end%>
        </ul>
    </div>
  <% end %>
  <div class="submitters">
    <input type="submit" value="検索" />
  </div>
<%- end -%>
<%= javascript_tag do %>
$(function() {

  $('input.datepicker').datepicker();

});
<%- end -%>

