<div class="keyword">
  <label for="keyword">住所を入力するとその付近の施設を検索します</label>
  <%= text_field_tag "address", '' %><input type="button" value="検索" id="doGeocode" />
</div>
  <div id="map_canvas" style="height:450px;"></div>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{content.site.google_map_api_key}&region=jp" %>
  <%= javascript_include_tag '/_common/modules/map/js/map.js' %>

  <%= javascript_tag do -%>
  var map;
  var geocoder = new google.maps.Geocoder();
  var nearbyLocation;
  var marker_id ='geocodingMarker' ;
  google.maps.event.addDomListener(window, 'load', function (event) {
    initMap();
  });

  function initMap(){
    map = new MapViewer('map_canvas', <%= content.default_map_position.first %>, <%= content.default_map_position.last %>);
    nearbyLocation = new google.maps.LatLng( <%= content.default_map_position.first %>, <%= content.default_map_position.last %> );
    var markers = [];
    var points = {};
    var infoWindows = {};
    <%- markers.each.each_with_index do |item, i|
      next unless map_markers = item.map_marker
      map_icon = item.map_icon
      map_markers.each_with_index do |marker, n| -%>
      points["marker<%= i %>_<%= n %>"] = new google.maps.Marker({
        position: new google.maps.LatLng( <%= marker.latitude %>, <%= marker.longitude %>),
        title: "marker<%= i %>_<%= n %>"
        });
        <%- if map_icon.present? -%>
          points["marker<%= i %>_<%= n %>"].setIcon('<%= map_icon %>');
        <%- end -%>
      infoWindows["marker<%= i %>_<%= n %>"] = new google.maps.InfoWindow({
        content: '<%=raw simple_format(marker_window_text(item, @piece), {}, sanitize: false).gsub(/\r|\n/, '').gsub("'", '&#x27;') %>'
      });
      google.maps.event.addListener(points["marker<%= i %>_<%= n %>"], 'click', function(e) {
        infoWindows["marker<%= i %>_<%= n %>"].open(map._map_canvas, points["marker<%= i %>_<%= n %>"]);
      });
      markers.push(points["marker<%= i %>_<%= n %>"]);
      <%- end -%>
    <%- end -%>
    var markerCluster = new MarkerClusterer(map._map_canvas,
      markers,
      { zoomOnClick: false,
        imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
       });
    google.maps.event.addListener(markerCluster, 'clusterclick', function(cluster) {
      var contents = [];
      var first_marker ;
      cluster.markers_.forEach(function(e){
        contents.push(infoWindows[e.title].content);
        first_marker = e;
      });
      var window_text = contents.join(" ");
      var info = new google.maps.InfoWindow({
        content: window_text,
        position: cluster.center_
      });
      info.open(map._map_canvas);
    });

  }

  $('#address').keypress( function ( e ) {
    if ( e.which == 13 ) {
      doGeocode();
      return false;
    }
  } );

  $('#doGeocode').on('click', function() {
    doGeocode();
    return false;
  });

  function doGeocode(){
    var address = $('#address').val();
    geocoder.geocode( { 'address': address, location: nearbyLocation}, function(results, status) {
      if (status == 'OK') {
        if(map._markers[marker_id]!=null){
          map._markers[marker_id].setMap(null);
        }
        var title = results[0].formatted_address;
        var lat = results[0].geometry.location.lat();
        var lng = results[0].geometry.location.lng();
        map.set_marker(marker_id, lat, lng, title, title, null);
        map.move_to(marker_id);
        return false;
      } else {
        alert("座標を取得できませんでした。");
      }
    });
  }

  <%- end -%>

